.item {
  background-color: #fff;
  width: 200px;
  display: flex;

  align-items: center;
  padding: 10px;
}

.item:not(:last-child) {
  margin-bottom: 20px;
}

.status {
  margin-right: 8px;
  border-radius: 50%;
  width: 16px;
  height: 16px;
}

.online {
  composes: status;
  background-color: rgb(28, 146, 28);
}

.offline {
  composes: status;
  background-color: rgb(165, 24, 24);
}

.avatar {
  margin-right: 8px;
  border-radius: 8px;
}

.name {
  font-size: 16px;
  font-weight: 500;
}
