body {
  background-color: #eee;
  padding-top: 160px;
  padding-bottom: 160px;
}

.container {
  min-height: 100vh;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.item:nth-child(2n + 1) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item:not(:last-child) {
  margin-bottom: 60px;
}
