.history {
  width: 100%;
}

.history > thead > tr > th {
  background-color: rgb(70, 219, 219);
  color: #fff;
  text-align: center;
}

.history > tbody > tr > td {
  text-align: center;
}

.history > tbody > tr:nth-child(2n + 1) {
  background-color: #fff;
}

.history > tbody > tr:nth-child(2n) {
  background-color: #ddd;
}
